<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andreolas.movierama">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TMDBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Aeropress">

        <activity
            android:name=".settings.app.AppSettingsActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Aeropress" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Base.Theme.Aeropress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.andreolas.movierama.base.initializers.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>


</manifest>