//
//  Secret.xcconfig
//  iosApp
//
//  Created by Harry Andreolas on 21/11/25.
//

import Foundation

TMDB_BASE_URL = https:/$()/api.themoviedb.org/3
TMDB_AUTH_TOKEN = Bearer your_token_here
TRAKT_API_KEY = your_trakt_key_here
OMDB_API_KEY = your_omdb_key_here
